/* Global styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Light mode styles */
body:not(.dark-mode) {
    background-color: #f4f4f4;
    color: #333;
}

/* Dark mode styles for cards */
body.dark-mode .card {
    background-color: #444;
    color: #fff;
}

/* Light mode styles for cards */
body:not(.dark-mode) .card {
    background-color: #fff;
    color: #333;
}

.mode-toggle-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h2 {
    margin-bottom: 30px;
    margin-bottom: 30px;
}

.row {
    margin-bottom: 30px;
}

.card-deck {
    margin: 20px;
}